@using Aklion.Infrastructure.DateTime
@using Aklion.Infrastructure.DisplayName
@using Aklion.Infrastructure.PhoneNumber
@model Aklion.Crm.Domain.User.UserModel
@{
    ViewBag.Title = "Мой аккаунт";
}


<div class="inner-container">
    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card margin-10 pading-10">
                <div class="row">
                    <div class="col s6 m12 l12">
                        <img src="@(Model.AvatarUrl ?? "/images/avatars/no-avatar.png")" class="responsible-image" alt="Аватар" />
                        <div class="separator"></div>
                    </div>
                    <div class="col s6 m12 l12">
                        <a href="#" id="load-image-link" class="text-link pading-left-20">Изменить фотографию</a>
                        <a asp-controller="Account" asp-action="ChangePersonalInfo" class="text-link pading-left-20">Изменить личные данные</a>
                        <a asp-controller="Account" asp-action="ChangePassword" class="text-link pading-left-20">Сменить пароль</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l9">
            <div class="card pading-10 margin-10">
                <h3 class="margin-0">@Model.Login</h3>
                <div class="separator"></div>
                <blockquote>
                    <span class="label">Email:</span> @Model.Email <a asp-controller="Account" asp-action="ChangeEmail" class="text-link">Изменить</a>
                    @if (!Model.IsEmailConfirmed)
                    {
                        <a asp-controller="Account" asp-action="SendConfirmEmail" class="text-link">Подтвердить</a>
                    }
                    <br>
                    <span class="label">Телефон:</span> @Model.Phone.ToFullPhoneNumber() <a asp-controller="Account" asp-action="ChangePhone" class="text-link">Изменить</a>
                    @if (!Model.IsPhoneConfirmed)
                    {
                        <a asp-controller="Account" asp-action="SendSmsCode" class="text-link">Подтвердить</a>
                    }
                    <br>
                    <span class="label">Пол:</span> @Model.Gender.GetDisplayName()
                    <br>
                    <span class="label">Дата рождения:</span> @Model.BirthDate?.ToDateString()
                </blockquote>
            </div>
        </div>
    </div>
</div>


<div id="load-image-dialog" class="dialog hidden" title="Загрузка изображения">
    <div class="col s12 m12 l12">
        <form asp-controller="Account" asp-action="LoadAvatar" method="post" enctype="multipart/form-data">
            <input type="file" name="AvatarFile" accept="image/*" required="required" aria-required="true" class="cell-button">
            <br />
            <br />
            <button type="submit" class="fm-button ui-state-default ui-corner-all pading-5 right" style="height: auto; font-size: 11px;">
                <i class="fa fa-upload"></i>
                Загрузить
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <environment names="Development">
            <script src="~/scripts/account/index.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/scripts/account/index.min.js"></script>
        </environment>
    }
}

