@using Aklion.Infrastructure.DateTime
@using Aklion.Infrastructure.PhoneNumber
@model Aklion.Crm.Domain.User.UserModel
@{
    ViewBag.Title = "Мой аккаунт";
}

<div class="inner-container">
    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card pading-10 margin-10">
                <img src="@(
    !string.IsNullOrWhiteSpace(Model.AvatarUrl)
        ? Model.AvatarUrl
        : "https://pp.userapi.com/c615719/v615719487/1992f/WZh60KWF5F8.jpg"
                                /*"/images/avatars/no-avatar.png"*/)"
                     class="responsible-image" alt="Аватар"/>
                <div class="separator"></div>
                <a href="#" class="text-link">Изменить фотографию</a>
                <br>
                <a asp-controller="Account" asp-action="ChangePersonalInfo" class="text-link">Изменить личные данные</a>
                <br>
                <a asp-controller="Account" asp-action="ChangePassword" class="text-link">Сменить пароль</a>
                @*<form asp-controller="Account" asp-action="LoadAvatar" method="post" enctype="multipart/form-data">
                <input type="file" name="AvatarFile" accept="image/*" required="required" aria-required="true">
                <button type="submit" class="btn pading-horisontal-10">
                    <i class="fa fa-upload"></i>
                </button>
            </form>*@
            </div>
        </div>
        <div class="col s12 m8 l9">
            <div class="card pading-10 margin-10">
                <h3 class="margin-0">@Model.Login</h3>
                <div class="separator"></div>
                <blockquote>
                    <span class="label">Email:</span> @Model.Email <a asp-controller="Account" asp-action="ChangeEmail" class="text-link">Изменить</a>
                    @if (!Model.IsEmailConfirmed)
                    {
                        <a asp-controller="Account" asp-action="SendConfirmEmail" class="text-link">Подтвердить</a>
                    }
                    <br>
                    <span class="label">Телефон:</span> @Model.Phone.ToFullPhoneNumber() <a asp-controller="Account" asp-action="ChangePhone" class="text-link">Изменить</a>
                    @if (!Model.IsPhoneConfirmed)
                    {
                        <a asp-controller="Account" asp-action="SendSmsCode" class="text-link">Подтвердить</a>
                    }
                    <br>
                    <span class="label">Пол:</span> @Model.Gender.GetDisplayName()
                    <br>
                    <span class="label">Дата рождения:</span> @Model.BirthDate.ToDateString()
                </blockquote>
            </div>
        </div>
    </div>
</div>