@using Aklion.Infrastructure.Utils.DateTime
@model List<Aklion.Crm.Models.Stores.Store>

@foreach (var store in Model)
{
    <tr>
        <td>@store.Id</td>
        <td>@store.Name</td>
        <td>@store.ApiKey</td>
        <td>@store.ApiSecret</td>
        <td class="center-align">@(store.IsLocked ? "Да" : "Нет")</td>
        <td class="center-align">@(store.IsDeleted ? "Да" : "Нет")</td>
        <td class="center-align">@store.CreateDate.ToDateString()</td>
        <td class="center-align">
            <a href="#" onclick="getItem(@store.Id);">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
        <td class="center-align">
            <a href="#" onclick="deleteItem(@store.Id);">
                <i class="fa fa-times"></i>
            </a>
        </td>
    </tr>
}