<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("Meta", false)
    <title>@ViewData["Title"] - Aklion CRM</title>
    @await Html.PartialAsync("_Styles").ConfigureAwait(false)
    @RenderSection("Styles", false)
</head>
<body>
<main>
    @await Html.PartialAsync("_Menu").ConfigureAwait(false)
    <div class="content">
        @RenderBody()
    </div>
</main>
@await Html.PartialAsync("_Scripts").ConfigureAwait(false)
@RenderSection("Scripts", false)
</body>
</html>