@using System.Reflection
@using Aklion.Crm.Attributes
@using Aklion.Crm.Enums
@model Type

@{
    var tableName = Model.Name.ToLower();
    var tableAttribute = Model.GetCustomAttributes<TableAttribute>().FirstOrDefault();
    if (tableAttribute == null)
    {
        return;
    }

    var colspan = tableAttribute.IsEditable ? 1 : 0;

    <table id="@tableName-table" class="c-table" data-url="@(Model.Name)s/GetList" data-editable="@tableAttribute.IsEditable.ToString().ToLower()">
        <thead>
        <tr>
            @foreach (var property in Model.GetProperties())
            {
                var columnAttribute = property.GetCustomAttributes<TableColumnAttribute>().FirstOrDefault();
                if (columnAttribute == null)
                {
                    continue;
                }

                <th class="center-align" style="width: @(columnAttribute.Width)px">@columnAttribute.Label</th>
                colspan++;
            }

            @if (tableAttribute.IsEditable)
            {
                <th class="center-align" style="width: 50px">
                    <button class="dropdown-button not-closing-dropdown" data-activates="@tableName-table-filter" title="Фильтр">
                        <i class="fa fa-filter"></i>
                    </button>
                    <button class="dropdown-button not-closing-dropdown" data-activates="@tableName-table-sorting" title="Сортировка">
                        <i class="fa fa-sort"></i>
                    </button>

                    <div id="@tableName-table-filter" class="dropdown-content filter-dropdown-content">
                        <p>Фильтры</p>
                        <table data-role="table-filter">
                            <tbody>
                            @foreach (var property in Model.GetProperties())
                            {
                                var columnAttribute = property.GetCustomAttributes<TableColumnAttribute>().FirstOrDefault();
                                if (columnAttribute == null)
                                {
                                    continue;
                                }

                                <tr>
                                    <td>@columnAttribute.Label</td>
                                    <td style="width: 130px">
                                        <select onchange="setOperands(this);">
                                            <option value="@((int) FilterOperation.None)"></option>
                                            <option value="@((int) FilterOperation.Equals)">Равно</option>
                                            <option value="@((int) FilterOperation.NonEquals)">Не равно</option>
                                            @if (property.PropertyType == typeof(byte)
                                                 || property.PropertyType == typeof(short)
                                                 || property.PropertyType == typeof(int)
                                                 || property.PropertyType == typeof(decimal)
                                                 || property.PropertyType == typeof(float)
                                                 || property.PropertyType == typeof(double)
                                                 || property.PropertyType == typeof(DateTime))
                                            {
                                                <option value="@((int) FilterOperation.Greater)">Больше</option>
                                                <option value="@((int) FilterOperation.Less)">Меньше</option>
                                                <option value="@((int) FilterOperation.Between)">Между</option>
                                            }
                                            else if (property.PropertyType == typeof(string))
                                            {
                                                <option value="@((int) FilterOperation.Begins)">Начинается</option>
                                                <option value="@((int) FilterOperation.Ends)">Заканчивается</option>
                                                <option value="@((int) FilterOperation.Contains)">Содержит</option>
                                            }
                                        </select>
                                    </td>
                                    <td data-role="operand-td" style="width: 145px">
                                        @if (property.PropertyType == typeof(bool))
                                        {
                                            <select data-role="operand-1" style="width: 115px">
                                                <option></option>
                                                <option value="Yes">Да</option>
                                                <option value="No">Нет</option>
                                            </select>
                                        }
                                        else if (property.PropertyType == typeof(byte)
                                                 || property.PropertyType == typeof(short)
                                                 || property.PropertyType == typeof(int)
                                                 || property.PropertyType == typeof(decimal)
                                                 || property.PropertyType == typeof(float)
                                                 || property.PropertyType == typeof(double))
                                        {
                                            <input type="number" data-role="operand-1" style="width: 115px">
                                            <span class="hidden" data-role="operand-2-and">И</span>
                                            <input type="number" class="hidden" data-role="operand-2" style="width: 115px">
                                        }
                                        else if (property.PropertyType == typeof(DateTime))
                                        {
                                            <input type="date" data-role="operand-1" style="width: 115px">
                                            <span class="hidden" data-role="operand-2-and">И</span>
                                            <input type="date" class="hidden" data-role="operand-2" style="width: 115px">
                                        }
                                        else
                                        {
                                            <input type="text" data-role="operand-1" style="width: 115px">
                                            <span class="hidden" data-role="operand-2-and">И</span>
                                            <input type="text" class="hidden" data-role="operand-2" style="width: 115px">
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <button class="right" onclick="updateTable(this);">Применить</button>
                        <button class="right" onclick="resetFilter(this);">Сбросить</button>
                    </div>
                    <div id="@tableName-table-sorting" class="dropdown-content sorting-dropdown-content right-align">
                        <table data-role="table-sorting"></table>
                        <select class="margin-top-10" data-role="sorting-field-selector" style="width: 170px">
                            @foreach (var property in Model.GetProperties())
                            {
                                var columnAttribute = property.GetCustomAttributes<TableColumnAttribute>().FirstOrDefault();
                                if (columnAttribute == null)
                                {
                                    continue;
                                }

                                <option value="@property.Name">@columnAttribute.Label</option>
                            }
                        </select>
                        <select class="margin-top-10" data-role="sorting-order-selector" style="width: 130px">
                            <option value="asc">По возрастанию</option>
                            <option value="desc">По убыванию</option>
                        </select>
                        <br>
                        <button class="right-align margin-top-10" onclick="addSortingRow(this);">Добавить сортировку</button>
                        <br>
                        <button class=" margin-top-10" onclick="updateTable(this);">Применить</button>
                        <button class="right-align margin-top-10" onclick="resetSorting(this);">Сбросить</button>
                    </div>

                </th>
            }
        </tr>
        </thead>
        <tbody data-role="table-body">
        <tr class="white" data-role="preloader">
            <td colspan="@colspan" class="center">
            +
            <span>
                <b>Загрузка...</b>
            </span>
            <td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="@colspan" class="center">
                <button type="button" class="left" data-role="current-page" data-page="0" title="Обновить" onclick="setPage(this);">
                    <i class="fa fa-refresh"></i>
                </button>
                <button type="button" data-role="first-page" data-page="0" title="Первая страница" onclick="setPage(this);">
                    <i class="fa fa-fast-backward"></i>
                </button>
                <button type="button" data-role="prev-page" data-page="0" title="Предыдущая страница" onclick="setPage(this);">
                    <i class="fa fa-backward"></i>
                </button>
                <span class="left-border">Стр.</span>
                <input type="text" value="0" data-role="page" title="Текущая страница" style="width: 30px;" onchange="setPage(this);">
                <span class="left-border">Стр.</span>
                <span> из </span>
                <span class="right-border">0</span>
                <select data-role="size" style="width: 45px;" title="Размер страницы" onchange="setPage(this);">
                    <option selected="selected">10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                <span class="right-border"></span>
                <button type="button" data-role="next-page" data-page="0" title="Следующая страница" onclick="setPage(this);">
                    <i class="fa fa-forward"></i>
                </button>
                <button type="button" data-role="last-page" data-page="0" title="Последняя страница" onclick="setPage(this);">
                    <i class="fa fa-fast-forward"></i>
                </button>
                <span class="right">
                    <span data-current-page-first>0</span>
                    <span> - </span>
                    <span data-current-page-last>0</span>
                    <span> из </span>
                    <span data-current-page-total>0</span>
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
}